extends ../layouts/main.pug

block globals
  - title = "More About Movies"

block content

  header.home-cta
    h1
      = title
      br
    p.about We appreciate your interest in movies. Therefore, we upload latest movies here to entertain you :)