extends ../layouts/main.pug

block globals
  - title = "Contact Information"

block content

  header.home-cta
    h1
      = title
      br
    p.about For more information, please contact Group 7 members - Gagan, Dhruvi, Dante, Thong